// Colors

$mk_color_appsmenu_text: #000000;
$mk_color_appbar_text: $o-gray-700;
$mk_color_appbar_active: mix($mk_color_primary, $o-view-background-color, 10%);
$mk_color_appbar_background: $o-view-background-color;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;

//#