// Colors

$mk_color_appsmenu_text: #000000;
$mk_color_appbar_text: #000000;
$mk_color_appbar_active: #cadfef;
$mk_color_appbar_background: #1276C4;

// Override

$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;

//#