/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.svg#SFUFutura") format("svg");
  font-weight: bold;
  font-style: bold; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular.svg#SFUFutura") format("svg");
  font-weight: normal;
  font-style: normal; }


.dashboard-canvas ol,.dashboard-canvas ul {
  list-style: none; }

.dashboard-canvas blockquote,.dashboard-canvas q {
  quotes: none; }

.dashboard-canvas blockquote:before,.dashboard-canvas blockquote:after {
  content: '';
  content: none; }

.dashboard-canvas q:before,.dashboard-canvas q:after {
  content: '';
  content: none; }

.dashboard-canvas table {
  border-collapse: collapse;
  border-spacing: 0; }

.dashboard-canvas :hover {
  text-decoration: none; }

.dashboard-canvas a {
  color: inherit; }

.dashboard-canvas a:active,.dashboard-canvas a:focus {
  text-decoration: none;
  color: inherit; }

.dashboard-canvas a {
  text-decoration: none; }

.dashboard-canvas img {
  max-width: 100%;
  height: auto; }

.dashboard-canvas ol,.dashboard-canvas ul,.dashboard-canvas li {
  padding: 0px;
  list-style: none;
  margin: 0px; }


/* Let's get this party started */
.dashboard-canvas ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px; }

/* Handle */
.dashboard-canvas ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); }

.dashboard-canvas ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2); }

/*
example keyframes
@include keyframes( incrediblehulk ){
    0% {
        color: #f8d2c0;
    }
    100% {
        color: #0f0;
    }
}*/
.background-graylight {
  background-color: #f6f7f9; }

.background-white {
  background-color: #fff; }

.fl {
  float: left; }

.fr {
  float: right; }

.fri {
  float: right !important; }

.lsn,
.lsn > li {
  list-style: none; }

.posr {
  position: relative; }

.posa {
  position: absolute; }

.posf {
  position: fixed; }

.imgdf > img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: none; }

.hidden {
  display: none; }

.dib {
  display: inline-block; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.pt0 {
  padding-top: 0 !important; }

.pr0 {
  padding-right: 0 !important; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.tac {
  text-align: center; }

.taj {
  text-align: justify; }

.ttu {
  text-transform: uppercase; }

.tdu {
  text-decoration: underline; }

.tdn {
  text-decoration: none; }

.fwb {
  font-weight: bold; }

.vat {
  vertical-align: top; }

.fwb {
  font-weight: bold; }

.fw2 {
  font-weight: 200; }

.fw3 {
  font-weight: 300; }

.fw4 {
  font-weight: 400; }

.fw5 {
  font-weight: 500; }

.fw6 {
  font-weight: 600; }

.fw7 {
  font-weight: 700; }

.fw8 {
  font-weight: 800; }

.fw9 {
  font-weight: 900; }

.fwsb {
  font-weight: 600; }

.color-blue {
  color: #824198; }

.color-blue-bold {
  color: #4B3C50; }

.color-gray-bold {
  color: #63676E; }

.ovfh {
  overflow: hidden; }

.img-background-full-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 101%;
  min-width: 101%; }

.tar {
  text-align: right; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.normal {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.tleft {
  text-align: left; }

.tright {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.upper {
  text-transform: uppercase; }

.left,
.ap-left {
  float: left; }

.right,
.ap-right {
  float: right; }

.pointer {
  cursor: pointer; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.hidden {
  display: none; }

.xo,
.ap-xo {
  overflow: hidden; }

.full {
  width: 100%;
  height: 100%; }

.fullw {
  width: 100%; }

.fullh {
  height: 100%; }

.block {
  display: block; }

.inline {
  display: inline-block; }

.cell {
  display: table-cell; }

.table {
  display: table; }

.invisible,
.ap-invisible {
  opacity: 0;
  filter: alpha(opacity=0); }

.vtop {
  vertical-align: top; }

.vcenter {
  vertical-align: middle; }

.vbottom {
  vertical-align: bottom; }

.f9 {
  font-size: 9px; }

.f10 {
  font-size: 10px; }

.f11 {
  font-size: 11px; }

.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f15 {
  font-size: 15px; }

.f16 {
  font-size: 16px; }

.f17 {
  font-size: 17px; }

.f18 {
  font-size: 18px; }

.f19 {
  font-size: 19px; }

.f20 {
  font-size: 20px; }

.f21 {
  font-size: 21px; }

.f22 {
  font-size: 22px; }

.f23 {
  font-size: 23px; }

.f24 {
  font-size: 24px; }

.f25 {
  font-size: 25px; }

.f26 {
  font-size: 26px; }

.f27 {
  font-size: 27px; }

.f28 {
  font-size: 28px; }

.f29 {
  font-size: 29px; }

.f30 {
  font-size: 30px; }

.f31 {
  font-size: 31px; }

.f32 {
  font-size: 32px; }

.thin {
  font-weight: 300; }

.thick {
  font-weight: 500; }

@media (max-width: 1024px) {
  .hidden-devide-1024 {
    display: none !important; } }
@media (min-width: 1025px) {
  .show-devide-1024 {
    display: none !important; } }
@media (max-width: 768px) {
  .hidden-devide-768 {
    display: none !important; } }
@media (min-width: 769px) {
  .show-devide-768 {
    display: none !important; } }
/*
    Author:UocNV
    Last Updated:  18/06/2018
*/
.dashboard-canvas {
  line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 20px; }
  .dashboard-canvas .row {
    margin: 0px -5px; }
  .dashboard-canvas .col-xs-12 {
    padding: 0px 5px; }
  .dashboard-canvas .dashboard-top {
    margin-bottom: 15px; }
    .dashboard-canvas .dashboard-top .item {
      border-radius: 2px;
      position: relative;
      background: #fff;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      padding: 22px 10px;
      padding-left: 80px;
      min-height: 80px;
      line-height: 20px;
      border-radius: 5px; }
      .dashboard-canvas .dashboard-top .item .number {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        line-height: 60px;
        text-align: center;
        left: 10px;
        font-size: 30px;
        color: #fff; }
      .dashboard-canvas .dashboard-top .item .text {
        opacity: 0.8; }
  .dashboard-canvas .widget-header {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    font-weight: bold;
    color: #69676d; }
  .dashboard-canvas .widget-body {
    padding: 24px; }
  .dashboard-canvas .info {
    display: table;
    width: 100%; }
    .dashboard-canvas .info .key {
      width: 90px;
      display: table-cell; }
    .dashboard-canvas .info .val {
      display: table-cell; }
  .dashboard-canvas .widget-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .dashboard-canvas .widget-box {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
    .dashboard-canvas .widget-box.-ttns .user {
      text-align: center;
      font-size: 16px;
      color: #69676d;
      font-weight: bold; }
      .dashboard-canvas .widget-box.-ttns .user .avatar {
        width: 116px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); }
      .dashboard-canvas .widget-box.-ttns .user .pos {
        font-size: 15px;
        font-weight: normal;
        margin-top: 5px; }
    .dashboard-canvas .widget-box.-ttns .user-info .info {
      margin-bottom: 10px;
      color: #7e7d80; }
    .dashboard-canvas .widget-box.-ttns .widget-footer .list-cta {
      display: table;
      width: 100%; }
      .dashboard-canvas .widget-box.-ttns .widget-footer .list-cta .btn {
        display: table-cell;
        width: 20%;
        text-align: center;
        padding: 15px 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0px; }
        .dashboard-canvas .widget-box.-ttns .widget-footer .list-cta .btn:first-child {
          border-left: 0px; }
        .dashboard-canvas .widget-box.-ttns .widget-footer .list-cta .btn .icon {
          color: #0659a2;
          display: block;
          margin-bottom: 5px; }
        .dashboard-canvas .widget-box.-ttns .widget-footer .list-cta .btn:hover {
          background: #f6f6f6; }
    .popup-notification .notifies .item {
      border-radius: 3px;
      background: #f4f6f9;
      border: 1px solid #dfe1e4;
      padding: 15px;
      margin: 7px 0px;
      cursor: pointer; }
      .popup-notification .notifies .item.active, .popup-notification .notifies .item:hover {
        background-color: #d0f1fb;
        border-color: #1abeef; }
    .popup-notification .notifies .datetime {
      font-weight: bold;
      margin-bottom: 5px; }
    .popup-notification .notifies .mess {
      line-height: 20px; }
    .dashboard-canvas .widget-box.-kri-unit .navtabs {
      margin-bottom: 20px; }
      .dashboard-canvas .widget-box.-kri-unit .navtabs:after {
        display: block;
        content: "";
        clear: both; }
      .dashboard-canvas .widget-box.-kri-unit .navtabs li {
        margin: 0px 10px;
        float: left; }
      .dashboard-canvas .widget-box.-kri-unit .navtabs a {
        padding: 7px 10px;
        display: block;
        border-bottom: 4px solid #d6d8db; }
      .dashboard-canvas .widget-box.-kri-unit .navtabs > li:hover > a {
        background: #d6d8db; }
      .dashboard-canvas .widget-box.-kri-unit .navtabs > li.active > a {
        background: #21b799;
        color: #fff;
        border-bottom-color: #21b799; }
    .dashboard-canvas .widget-box.-kri-unit .total {
      text-align: center;
      font-size: 20px;
      margin-top: 20px; }
      .dashboard-canvas .widget-box.-kri-unit .total .txt {
        margin-bottom: 7px;
        opacity: 0.6; }
      .dashboard-canvas .widget-box.-kri-unit .total .num {
        font-size: 48px; }
    .dashboard-canvas .widget-box.-kri-unit .note-chart .item {
      display: inline-block;
      padding-left: 18px;
      position: relative;
      width: 47%;
      margin-top: 10px; }
      .dashboard-canvas .widget-box.-kri-unit .note-chart .item:before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background: #fff;
        position: absolute;
        top: 2px;
        left: 0px; }
      .dashboard-canvas .widget-box.-kri-unit .note-chart .item.-complete:before {
        background-color: #4771bb; }
      .dashboard-canvas .widget-box.-kri-unit .note-chart .item.-incurred:before {
        background-color: #52c174; }
      .dashboard-canvas .widget-box.-kri-unit .note-chart .item.-overdue:before {
        background-color: #f04848; }
      .dashboard-canvas .widget-box.-kri-unit .note-chart .item.-unfinished:before {
        background-color: #f9e562; }
    .dashboard-canvas .widget-box.-kri-unit .list-progress .item {
      margin-bottom: 30px;
      width: 100%;
      position: relative;
      padding-left: 120px; }
      .dashboard-canvas .widget-box.-kri-unit .list-progress .item:last-child {
        margin-bottom: 0px; }
    .dashboard-canvas .widget-box.-kri-unit .list-progress .text {
      position: absolute;
      top: 0px;
      left: 0px; }
    .dashboard-canvas .widget-box.-kri-unit .progress-box {
      height: 12px;
      border-radius: 20px;
      background: #e5e6e8;
      display: block;
      width: 100%;
      position: relative; }
      .dashboard-canvas .widget-box.-kri-unit .progress-box .bar {
        top: 0px;
        position: absolute;
        left: 0px;
        border-radius: 20px;
        bottom: 0px; }
      .dashboard-canvas .widget-box.-kri-unit .progress-box .num {
        position: absolute;
        top: -15px;
        font-size: 13px;
        right: -15px;
        opacity: 0.6; }
    .dashboard-canvas .widget-box.-kri-unit .widget-footer {
      padding: 30px 50px; }
    .dashboard-canvas .widget-box.-birthday .widget-body {
      padding: 10px; }
    .dashboard-canvas .widget-box.-birthday .list-user {
      height: 300px;
      overflow: auto; }
      .dashboard-canvas .widget-box.-birthday .list-user .item {
        position: relative;
    padding: 10px 0px;
    padding-left: 10px;
    min-height: 92px;
    border-bottom: 1px solid #edf0f1;
    padding-right: 10px; }
    .dashboard-canvas .widget-box.-birthday .avatar {
          width: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    float: left; }
.dashboard-canvas .widget-box.-birthday .user-info {    float: left;
    padding-left: 20px;
    width: 65%; padding-top: 5px;}
    .dashboard-canvas .widget-box.-birthday .user-info .username {
      font-weight: bold;
      margin-bottom: 5px; }
    .dashboard-canvas .widget-box.-birthday .user-info .pos {
      opacity: 0.7;    margin-top: 5px; }
    .dashboard-canvas .widget-box.-birthday .birthday {
         position: absolute;
    right: 120px;
    top: 33px;
    }
    .dashboard-canvas .widget-box.-birthday .cta {
              position: absolute;
      width:100px;
    right: 0;
    top: 22px;}
      .dashboard-canvas .widget-box.-birthday .cta .btn {
        border-radius: 5px;
        padding: 5px 10px;
        border: 2px solid #1e9bfa;
        color: #1e9bfa; }
        .dashboard-canvas .widget-box.-birthday .cta .btn:hover {
          background-color: #1e9bfa;
          color: #fff; }
    .dashboard-canvas .widget-box.-ks .widget-body {
      padding: 40px 30px; }
    .dashboard-canvas .widget-box.-ks .item {
      text-align: center; }
      .dashboard-canvas .widget-box.-ks .item .title {
        text-transform: uppercase;
        font-weight: bold; }
      .dashboard-canvas .widget-box.-ks .item .result {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: inline-block;
        background: #3385d5;
        color: #fff;
        font-size: 60px;
        line-height: 120px;
      margin: 22px 0px;}

.popup-config {
  z-index: 10 !important;
  position: fixed;
  top: 55px;
  right: -266px;
  width: 260px;
  background: #fff;
  padding: 10px;
  color: #222;
  border: 2px solid #feb24d;
  transition: all 0.3s ease; }
  .popup-config.show {
    right: 0px;
    transition: all 0.3s ease; }
  .popup-config .nav-icon {
    width: 50px;
    height: 50px;
    background: #feb24d;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -36px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    background: linear-gradient(to top, #feb24d, #fec880); }
    .popup-config .nav-icon .fa {
      line-height: 36px; }
    .popup-config .nav-icon:hover {
      background: linear-gradient(to bottom, #feb24d, #fec880); }
  .popup-config .item {
    position: relative;
    padding: 7px 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer; }
    .popup-config .item:hover, .popup-config .item.active {
      background: #f6f6f6; }
    .popup-config .item .icon {
      width: 24px;
      height: 14px;
      position: absolute;
      top: 7px;
      color: #0659a2;
      left: 7px; }
    .popup-config .item .check {
      position: absolute;
      top: 5px;
      right: 7px; }
  .popup-config .colors .item .icon {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .popup-config .check input[type="radio"], .popup-config .check input[type="checkbox"] {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .popup-config .check input[type="radio"]:checked + .lbl, .popup-config .check .lbl {
      background: #1d76d0; }

    .popup-config .check .lbl {
      width: 14px;
      height: 14px;
      background: #1d76d0;
      display: inline-block;
    }
  .popup-config .check .nbl {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block; }

  .popup-notification {
  z-index: 9 !important;
  position: fixed;
  top: 115px;
  right: -600px;
  width: 600px;
  background: #fff;
  padding: 10px;
  color: #222;
  border: 2px solid #f5ee06;
  transition: all 0.3s ease; }
  .popup-notification.show {
    right: 0px;
    transition: all 0.3s ease; }
  .popup-notification .nav-icon {
    width: 50px;
    height: 50px;
    background: #feb24d;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: -50px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    background: linear-gradient(to top, #dfd924, #f5ee06); }
  .popup-notification .nav-icon:hover {
      background: linear-gradient(to bottom, #dfd924, #f5ee06); }


.style-black {
  color: #fff;
  background: #24313e; }
  .style-black .dashboard-canvas .widget-box {
    background: #1a222c; }
  .style-black .dashboard-canvas .dashboard-top .item {
    background: #1a222c; }
  .style-black .dashboard-canvas .widget-header {
    color: #fff;
    border-bottom-color: rgba(71, 96, 122, 0.3); }
  .style-black .widget-box.-ttns .user-info .info {
    color: #fff; }
  .style-black .widget-box.-ttns .user {
    color: #fff; }
  .style-black .widget-footer {
    border-top-color: rgba(71, 96, 122, 0.3); }
  .style-black .widget-box.-ttns .widget-footer .list-cta .btn {
    border-left-color: rgba(71, 96, 122, 0.3); }
  .style-black .popup-notification .notifies .item {
    background: #4b64a5;
    border-color: rgba(255, 255, 255, 0.1); }
    .style-black .popup-notification .notifies .item:hover, .style-black .popup-notification .notifies .item.active {
      background: #11abe2; }
  .style-black .widget-box.-birthday .list-user .item {
    border-bottom-color: rgba(71, 96, 122, 0.3); position: relative;}

.style-blue {
  background: #EEF6FF;
          /*#1a75d2; */

}



/*style home*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  }

/*# sourceMappingURL=style.css.map */


.clear {clear:both;}

.dashboard-canvas p {    margin: 0;}
.widget-box.-ttns .btn span {    font-weight: 400;
    line-height: 1.42857143;font-family: 'Roboto';    color: inherit;}
.dashboard-canvas .widget-box.-ttns .widget-footer .list-cta .btn {    padding: 3px 10px;}
.dashboard-canvas .widget-box.-kri-unit .widget-footer {height: 157px;overflow: auto;}

.box-dashboard {position: relative;     overflow: inherit !important;     margin-bottom: 10px;}
.box-dashboard .not-content {    width: 100%;
    position: absolute;
    padding: 0 20px;
    font-style: italic;
    color: #777;
    font-size: 20px;
    top: 45%;
    text-align: center;}

#box-dashboard-nangluccanhan-content .not-content-nangluccanhan {
        height: 100%;
    background: url(/vnpt_dashboard/static/img/no-data-nangluccanhan2.png) no-repeat center center;
    background-position: center;
}
.dashboard-canvas .widget-box.-kri-unit .navtabs li {     margin: 0px 6px;  }
.style-black .highcharts-title {color: #ffffff !important;
    fill: #ffffff !important;}
.dashboard-canvas .widget-box.-kri-unit .list-progress .text {cursor: help;    width: 145px;
    line-height: 18px;}
.dashboard-canvas .widget-box.-kri-unit .list-progress .item {    padding-left: 150px;}
.dashboard-canvas .widget-box.-kri-unit .widget-footer {padding: 30px;}
.dashboard-canvas .widget-box.-kri-unit .note-chart .item {    margin-top: 15px;}
.dashboard-canvas .widget-box.-kri-unit .total .txt {margin-bottom: 10px;}
#box-dashboard-kpidonvi-content .not-content {    width: 100%;
    padding: 0 20px;
    font-style: italic;
    color: #777;
    font-size: 20px;
    text-align: center;}

#box-dashboard-thunhap-content .not-content {    width: 100%;
    padding: 0 20px;
    font-style: italic;
    color: #777;
    font-size: 20px;
    text-align: center;}

#box-dashboard-thongbao-hethong-content .not-content {    width: 100%;
    padding: 0 20px;
    font-style: italic;
        margin-top: 10%;
    color: #777;
    font-size: 20px;
    text-align: center;}
#box-dashboard-sinhnhat-content #no-content-sinhnhat {padding: 0 10px;}
.dashboard-canvas .widget-box.-kri-unit .note-chart .item.-complete:before {background-color: #52c174 !important;}
.dashboard-canvas .widget-box.-kri-unit .note-chart .item.-incurred:before {background-color: #4771bb !important;}

#box-change-theme {
    /*position: fixed;*/
    /*right: 30px;*/
    /*top: 46px;*/
    height: 30px;
    margin-bottom: 10px;
}
#box-change-theme .icon-theme {cursor: pointer;
    float: right;
    margin-left: 15px;
    width: 30px;
    border: 1px solid #a1a9a2;
    height: 30px;
    border-radius: 15px; -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1); box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
        }
#box-change-theme .div-text {    float: left;
    color: black;
    padding-top: 9px;}
#box-change-theme .checked {    width: 16px;
    height: 16px;
    margin: 5px 0 0 6px;
    background: url(/vnpt_dashboard/static/img/checked2.png) no-repeat;}
#box-change-theme .default {background: #FFF}
/*#1d76d0*/
#box-change-theme .daymode {background: #EEF6FF; }
#box-change-theme .nightmode {background: #040000}
.dashboard-canvas {margin-bottom: 10px; padding: 0px 5px;}

.dashboard-canvas table {border: none !important;}
.dashboard-canvas table tr {border: none !important;}
.dashboard-canvas table th {border: none !important;}
.dashboard-canvas table tr td {border: none !important;}
 .dashboard-canvas .widget-box {margin-bottom: 0px !important;  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1); box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);}
 .popup-config {z-index: 2;}

.mgbt10 {margin-bottom: 10px;}

.dashboard-canvas .widget-box.-ttns .user-info .info {margin-bottom: 20px;}
.style-black .widget-box.-ks .item .result {    background: #404c54;}
.style-black .widget-box.-ttns .widget-footer .list-cta .btn {color: #FFF;}
.style-black .widget-box.-ttns .widget-footer .list-cta .btn:hover {color: black;}

.dashboard-canvas .col-xs-12 {    padding: 0;}
.dashboard-canvas .widget-box.-ttns .user {text-align: left;}
.dashboard-canvas .widget-box.-ttns .user .name{}
.dashboard-canvas .widget-box.-ttns .user .pos {font-size: 14px;}

.dashboard-canvas .widget-box.-ks .item .txt {margin: 1px 0 0 0;}
.dashboard-canvas .widget-box.-birthday .list-user {    height: 241px;}
.dashboard-canvas .widget-box.-ttns .user-info {padding-left: 15px;}

#box-dashboard-nangluccanhan-content {    height: 231px;}
#chart-kri-unit-canhan {    height: 221px;}
#chart-kri-unit { height: 221px;}

.dashboard-canvas .dashboard-top {margin-bottom: 20px !important;    background: white;    padding-bottom: 1px;}
.dashboard-canvas .dashboard-top .item {
    width: 46%;
    float: left;
        margin: 13px 2%;
    background: #f4f6f9;
}
.style-black .dashboard-top .item {background:#404c54 !important;color: #FFF;}


.dashboard-canvas .info .val {line-height: 15px;}
.dashboard-canvas .widget-box.-ttns .user-info .info {margin-bottom: 15px;}
.popup-notification .notifies .tinnoibat {    border: 1px solid #f57e7e;}
.popup-notification .notifies .tinnoibat .datetime {    color: #ff5555;}
.popup-notification .notifies .tinnoibat .mess {color: #f11c1c;}
.style-black .popup-notification .notifies .tinnoibat {   border: 1px solid #f7a1a1;}
.style-black .popup-notification .notifies .tinnoibat .datetime {    color: #ea7474;}
.style-black .popup-notification .notifies .tinnoibat .mess {color: #ea7474;}
.popup-config .nav-icon {    width: 50px;    height: 50px;line-height: 50px;    left: -50px;}
.popup-config {width: 300px;    right: -300px;line-height: 1;}
.dashboard-canvas .widget-box.-ttns .user {text-align:center !important;}
.style-blue .dashboard-canvas {    background: #EEF6FF;}
.style-black .dashboard-canvas {    background: #24313e;}
.style-blue td {    background: #EEF6FF;}
.style-black td {    background: #24313e;}
.dashboard-canvas .widget-box.-birthday .list-user {overflow: auto !important;}
.dashboard-canvas .widget-box.-ttns .user-info #dashboard_tendaydu {font-size: 16px;font-weight: bold;}

@media only screen and (max-width: 1050px) {
   .dashboard-canvas .widget-box.-birthday .cta {    position: inherit;
    margin-top: 5px;
    right: 0;
    top: 5px;
    left: 75px;}
  .dashboard-canvas .widget-box.-birthday .birthday {position: absolute;
    right: 0;}


}

@media only screen and (max-width: 950px) {
    .dashboard-canvas .widget-box.-ttns .user-info .info {
    margin-bottom: 10px;
    }

}

@media only screen and (max-width: 850px) {
    .dashboard-canvas .widget-box.-ttns .user-info .info {
    margin-bottom: 5px;
    }

}


.scoll {}
.scoll::-webkit-scrollbar {
   width: 10px;
	background-color: #043e71;
}
.scoll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #043e71;
	border-radius: 10px;
}
.scoll::-webkit-scrollbar-thumb {
   border-radius: 10px;
	background-color: #043e71;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#077cca),
									   to(#077cca),
									   color-stop(.6, #070871))
}

.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #0659a2;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #428bca;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.load-more {    position: absolute;
    top: 8px;
    right: 40px;
    z-index: 3;}

.load-more img {width: 30px;}

#nghiphep_notify {position: absolute;
top: 2px;
right: 17%;
background: red;
font-weight: bold;
color: white;
width: 24px;
height: 24px;
line-height: 24px;
border-radius: 12px;}

.openerp .oe_dashboard .oe_action .oe_header .oe_close:after {
    content: "\2807" !important;
    margin-left: 4px;
    font-size: 24px;
}

.openerp .oe_dashboard .oe_action .oe_header {
    position: absolute;
    width: 100%;
    height: 56px;
    top: -4px !important;
    z-index: 1;
}

.dropdown-menu-dashboard {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 70px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu-dashboard > li{
    font-weight: normal;
    color: #7e7d80;
    padding-left:5px;
    cursor: pointer;
}


.notification-circle{
    top: 5px;
    right: 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 2px;
    text-align: center;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: absolute;
    background-color: #db4437;
    color: #fff;
  display: none;
}


/*css khi gửi tin nhắn*/
.windows8 {
    position: relative;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 20px;
    padding: 15px;
}

.windows8 .wBall {
	position: absolute;
	width: 15px;
	height: 15px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 4.5325s infinite;
		-o-animation: orbit 4.5325s infinite;
		-ms-animation: orbit 4.5325s infinite;
		-webkit-animation: orbit 4.5325s infinite;
		-moz-animation: orbit 4.5325s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 2px;
	height: 2px;
	background: rgb(184,180,184);
	left:0px;
	top:0px;
	border-radius: 2px;
}

.windows8 #wBall_1 {
	animation-delay: 0.986s;
		-o-animation-delay: 0.986s;
		-ms-animation-delay: 0.986s;
		-webkit-animation-delay: 0.986s;
		-moz-animation-delay: 0.986s;
}

.windows8 #wBall_2 {
	animation-delay: 0.193s;
		-o-animation-delay: 0.193s;
		-ms-animation-delay: 0.193s;
		-webkit-animation-delay: 0.193s;
		-moz-animation-delay: 0.193s;
}

.windows8 #wBall_3 {
	animation-delay: 0.3965s;
		-o-animation-delay: 0.3965s;
		-ms-animation-delay: 0.3965s;
		-webkit-animation-delay: 0.3965s;
		-moz-animation-delay: 0.3965s;
}

.windows8 #wBall_4 {
	animation-delay: 0.5895s;
		-o-animation-delay: 0.5895s;
		-ms-animation-delay: 0.5895s;
		-webkit-animation-delay: 0.5895s;
		-moz-animation-delay: 0.5895s;
}

.windows8 #wBall_5 {
	animation-delay: 0.793s;
		-o-animation-delay: 0.793s;
		-ms-animation-delay: 0.793s;
		-webkit-animation-delay: 0.793s;
		-moz-animation-delay: 0.793s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}