.custom-nav-menu {
    float: left;
    width: 220px;
    border-left: 1px solid #5a5a5a;
    background: #f0eeee;
    z-index: 10;
}

.custom-nav-menu h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.001em;
    color: #FFFFFF;
    padding: 20px 18px;
}

.custom-nav-menu ul {
    padding: 0;
    transition: all 5s linear;
}

.custom-nav-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0 20px;
    position: relative;
    color: white;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.custom-nav-menu li::before {
    border-left: 1px dashed #4c4c4c;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.custom-nav-menu li::after {
    border-top: 1px dashed #4c4c4c;
    height: 20px;
    top: 15px;
    width: 13px;
}

.custom-nav-menu li::before, .custom-nav-menu li::after {
    content: '';
    left: 0px;
    position: absolute;
    right: auto;
    opacity: 0.3;
}

.custom-nav-menu li.li_master > a {
    font-weight: 600;
    padding-left: 20px;
}

.custom-nav-menu li.li_master img {
    position: absolute;
    top: 6px;
    left: 15px;
}

.custom-nav-menu li li:last-child:not(.parent_li)::before {
    height: 50%;
}

.custom-nav-menu > li::before, .custom-nav-menu >  li::after {
    border: 0;
}

.custom-nav-menu li a {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.001em;
    display: table;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
    color: #4c4c4c;
}
.custom-nav-menu > li > a {font-weight:bold;}
.custom-nav-menu li a:hover {
    text-decoration: none;
}

/*.custom-nav-menu .expanded > .o-no-caret .menu-name {*/
    /*padding-left: 10px;*/
/*}*/
.custom-nav-menu .expanded > a:not(.collapsed) {
    background: url(/vnpt_theme/static/src/img/icon-menu-down-2.png) 0px 11px no-repeat;
}
.custom-nav-menu .expanded > a:not(.collapsed) .menu-name {
    padding-left: 15px;
}

.custom-nav-menu .expanded > a.collapsed {
    background: url(/vnpt_theme/static/src/img/icon-menu-right-2.png) 0px 9px no-repeat;
    margin-left: 0px;
}
.custom-nav-menu .expanded > a {
    margin-left: -3px;
}

.custom-nav-menu .expanded > ul {
    height:0;
    opacity: 0;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}



.custom-nav-menu li li:not(.expanded):hover {
    background: #7c7bad;

}
.custom-nav-menu li li:not(.expanded).active
{
    background: #21B799;
}
.custom-nav-menu li li:not(.expanded):hover > a {
    background: #7c7bad;

}
.custom-nav-menu li li:not(.expanded).active > a {
    background: #21B799;

}



.custom-nav-menu .expanded > .o-no-caret:before {content: none;}
.custom-nav-menu li ul {padding: 0;}



.custom-nav-menu li .link-item:hover {

}
.custom-nav-menu li.active {

}

