/* Custom styles for hr.employee form */
.employee-form {
    .top-head {
      background-image: linear-gradient(to right, #043E71, #419FD9);
      float: left;
      padding: 10px;
      color: #ffffff !important;
      border-radius: 4px;

      .div_avar_top {
        width: 200px !important;
        float: left;

        .img_avatar_top {
          position: absolute;
          top: 35px;
          left: 40px;

          .vnpt_oe_avatar {
            max-width: none !important;
            max-height: none !important;
            padding-top: 4px !important;
            margin-bottom: 5px;
            float: left !important;

            img {
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
              max-width: 150px !important;
              max-height: 150px !important;
              width: 150px !important;
              height: 150px !important;
              vertical-align: top;
              margin-bottom: 10px;
              border: none;
              object-fit: cover;
              border-radius: 50%;
              border: 2px solid #0b61ad;
            }
          }

        }
      }

      .div_head_top {
        color: white !important;
        h4, h5 {
          color: white !important;
        }

        h4.placeholder, h5.placeholder {
          font-style: italic;
          color: white !important;
          opacity: 0.4; /* Mimic placeholder effect */
        }

        h4 input::placeholder, h5 input::placeholder {
          color: white !important;
        }
      }
    }


}