.database_expiration_panel {
  display: none;
}

.o_doc_link {
  display: none;
}

.o_home_menu_background {
    background: url('/vnpt_base/static/src/img/login_bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}